@import "tailwindcss";
@layer base {
  :root {
    --primary: #330fff;
    --secondary: #00ffff;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--secondary);
  }

  .from-primary {
    --tw-gradient-from: var(--primary);
  }

  .to-primary {
    --tw-gradient-to: var(--primary);
  }

  .via-primary {
    --tw-gradient-via: var(--primary);
  }

}
